# Supabase
VITE_SUPABASE_URL=https://fsbcwsqgkdlaebtzmuop.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZzYmN3c3Fna2RsYWVidHptdW9wIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzQxNzk2MywiZXhwIjoyMDg4OTkzOTYzfQ.okV2nZgz3an8vAWGS0yzGFqYRxGMKs5ciifq0UIs0mg


# Backend
VITE_BACKEND_URL=http://localhost:3000

# Cloudinary
VITE_CLOUDINARY_CLOUD_NAME=your_cloud_name
VITE_CLOUDINARY_UPLOAD_PRESET=campus_blink

# Push Notifications (VAPID)
VITE_VAPID_PUBLIC_KEY=BPTu63lpITaPKew238BKRIzow7iZsaJmYokXzFlaEgqPC673BCheRtRaBPZjwlHUanOLHB3Lpv1lnARUFfWQlw4
