# Supabase
VITE_SUPABASE_URL=your_supabase_url
VITE_SUPABASE_ANON_KEY=


# Backend
VITE_BACKEND_URL=

# Cloudinary
VITE_CLOUDINARY_CLOUD_NAME=your_cloud_name
VITE_CLOUDINARY_UPLOAD_PRESET=campus_blink

# Push Notifications (VAPID)
VITE_VAPID_PUBLIC_KEY=

# Admin Access
VITE_ADMIN_EMAIL=your-admin@email.com
