VITE_SUPABASE_URL=https://fsbcwsqgkdlaebtzmuop.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZzYmN3c3Fna2RsYWVidHptdW9wIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0MTc5NjMsImV4cCI6MjA4ODk5Mzk2M30.qDhdCI_r_sJhIj0QaksgMF1gHh3wbm3BBYhaOiu-ZqI
VITE_CLOUDINARY_CLOUD_NAME=dmbnmtxwg
VITE_CLOUDINARY_UPLOAD_PRESET=campus_blink
VITE_VAPID_PUBLIC_KEY=
VITE_CASHFREE_CLIENT_ID=
VITE_GA_MEASUREMENT_ID=
VITE_SENTRY_DSN=
