@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

*, *::before, *::after {
	word-break: normal !important;
	overflow-wrap: anywhere;
	hyphens: none !important;
	-webkit-hyphens: none !important;
	-ms-hyphens: none !important;
}

h1, h2, h3, h4, h5, h6,
.card-title,
.module-title,
.nav-label,
button,
a,
span,
label,
p {
	word-break: keep-all !important;
	hyphens: none !important;
	-webkit-hyphens: none !important;
	overflow-wrap: break-word;
}
